[submodule "Libraries/Catch2"]
	path = Libraries/Catch2
	url = https://github.com/TaktixOrganization/Catch2.git
[submodule "Libraries/spdlog"]
	path = Libraries/spdlog
	url = https://github.com/TaktixOrganization/spdlog.git
[submodule "Libraries/TGUI"]
	path = Libraries/TGUI
	url = https://github.com/texus/TGUI.git
[submodule "Libraries/ECS"]
	path = Libraries/ECS
	url = https://github.com/TaktixOrganization/ECS.git
[submodule "Libraries/SFML"]
	path = Libraries/SFML
	url = https://github.com/SFML/SFML.git
